/* Fonts */
@font-face {
	font-family: Founded;
	src:url(./assets/warpdesktopfont/warp-desktop.otf.woff2);
}



/* ----- */

body {
	margin:0;
	background-color:#090A0A;
	background:url(https://rivendell.neocities.org/backgrounds/stars4.gif);
	background-attachment: fixed;
  /* thanks https://rivendell.neocities.org/backgrounds/ :) */
	font-family:Founded;
	color:white;
}

.wrapper {
	display:flex;
	justify-content: center;
	align-items: stretch;
	margin-top:100px;
	margin-left: 10%;
	margin-right:10%;
}

.window {
	padding:25px;
	width:70%;
}

.scrollable-wrapper {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  margin:12px;
  padding:12px;
  max-height:max-content;
  height:300px;
  overflow:auto;
  border: 1px solid #4F4F4F;
  resize: vertical;        /* Options: both, horizontal, vertical */
  border-radius:10px;
  border-bottom-right-radius: 0;
}



.title {
  text-align: center;
}

details.button {
	margin-left:10px;
}

details.button > summary {
	margin-left:0px;
	text-decoration:none;
	line-height:25px;
	color:#84ff00;
	cursor: pointer;
}

a.link,a.indented-link {
	text-decoration:none;
	line-height:25px;
	color:#baff70;
	cursor: pointer;
}
a.indented-link {
	margin-left:25px;
}

details.button > summary {
	font-weight: bold;
	margin-bottom: 2px;
	padding-bottom: 2px;
}


details.button > summary:hover {
	margin-left:10px;
	text-decoration:underline;
}
details.button[open] > summary {
	font-size: 20px;
	padding:10px;
	margin-left:-5px !important;
	border-bottom: solid #4F4F4F 1px;

}

.credits {
	margin-top:20px;
	text-align:center;
	color:#4F4F4F
}
.credits a {
	color:#787878;
	margin-left:0px;
}

.seperator {
  width:100%;
  margin: 0 auto;
  text-align:center;
  align-items: center;
	color:transparent;
	border-bottom: solid #383838 1px;
}

.artist-description::before, .artist-description::after {
	content: "\"";
}
.artist-description {
	background-color: rgb(14, 14, 14);
	margin:12px;
	padding:12px;
	border-radius:10px;
}